/* Featured Section Component
   Product highlight boxes with ratings, buttons, and responsive layout
*/

.avarvwFS-container {
    margin: 30px auto;
    display: flex;
    justify-content: center
    }

.avarvwFS-container__inner {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    width: 100%
    }

.avarvwFS-badge {
    font-family: "Helvetica", Sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    background: #FFE402;
    box-shadow: 3px 3px #BB8F46 !important;
    color: #000;
    font-weight: 700;
    padding: 7px 0;
    width: 190px;
    text-align: center;
    border-radius: 5px;
    margin: -17px 0 -18px 93px !important;
    z-index: 2
    }

.avarvwFS-container__imageproduct {
    display: flex;
    flex-direction: row;
    padding: 30px 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5)
    }

.avarvwFS-container__image {
    display: block;
    margin: auto
    }

img.avarvwFS-item__image {
    display: block;
    width: 190px;
    height: auto
    }

.avarvwFS-container__product {
    display: flex;
    flex-direction: column;
    font-family: "Helvetica", Sans-serif;
    width: 50%
    }

.avarvwFS-item__productname {
    font-size: 36px;
    text-decoration: underline;
    font-weight: 700;
    font-family: "Helvetica", Sans-serif;
    margin-bottom: 5px
    }

a.avarvwFS-link__productname {
    color: #336 !important
    }

a.avarvwFS-link__productname:hover {
    color: #517EF8 !important
    }

.avarvwFS-item__productdesc {
    color: #333;
    font-weight: 800;
    line-height: 1.2em;
    padding: 0 0 5px;
    font-size: 16px;
    text-align: left;
    font-style: normal;
    margin-top: 10px
    }

.avarvwFS-item__productdesc span {
    font-weight: 800;
    color: #00B711
    }

.avarvwFS-item__notes {
    color: #919191;
    font-weight: 400;
    line-height: 1.2em;
    padding: 0 0 5px;
    font-size: 12px;
    text-align: left;
    font-style: italic;
    margin-top: 7px
    }

.avarvwFS-item__productfands {
    color: #3A3A3A;
    font-weight: 700;
    font-size: 18px;
    text-transform: inherit;
    padding-top: 10px
    }

ul.avarvwFS-list__features {
    margin-left: 7px;
    padding: 5px 0 10px 10px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em
    }

.avarvwFS-list__features li {
    font-size: 16px !important;
    font-weight: 400;
    color: #3A3A3A;
    line-height: 1em;
    margin-bottom: 10px;
    list-style: disc
    }

a.avarvwFS-item__button {
    color: #fff;
    background-color: #ED1C23;
    border-bottom: 4px solid #812D00;
    width: 345px;
    max-width: 90%;
    text-align: center;
    display: block;
    border-radius: 8px;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none !important;
    text-transform: uppercase;
    transition: 0.2s linear
    }

a.avarvwFS-item__button:hover {
    background-color: #ff434a;
    color: #fff;
    box-shadow: rgba(3, 3, 3, 0.4) 0 8px 12px 0 !important
    }

span.avarvwFS-code_promo {
    color: #FF3432
    }

.avarvwFS-code_container {
    text-align: center;
    font-weight: 700;
    font-size: 16px
    }

.avarvwFS-container__button {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 5px
    }

@media screen and (max-width: 1070px) {
    .avarvwFS-container__imageproduct {
        flex-direction: column;
        display: block
        }
    img.avarvwFS-item__image {
        margin: 25px auto;
        max-width: 140px
        }
    .avarvwFS-container__product {
        margin: auto;
        padding: 0;
        width: 100%
        }
    .avarvwFS-list__features li {
        font-size: 16px !important
        }
    a.avarvwFS-item__button {
        width: 295px;
        margin: auto;
        max-width: 100%;
        font-size: 15px
        }
    .avarvwFS-badge {
        margin: auto !important;
        margin-bottom: -20px !important
        }
    .avarvwFS-item__productname {
        text-align: center;
        line-height: 1.1em !important
        }
    ul.avarvwFS-list__features {
        padding-left: 41px !important
        }
    .avarvwFS-item__productfands {
        margin-left: 33px;
        font-size: 18px
        }
    .avarvwFS-item__productdesc {
        text-align: center
        }
    .avarvwFS-item__productdesc {
        padding: 0 5px 10px;
        font-size: 14.592px !important
        }
    .avarvwFS-item__notes {
        padding: 0 20px 5px
        }
    .avarvwFS-price_item--value_or {
        font-size: 16px !important
        }
    .avarvwFS-rating_container {
        justify-content: center !important;
        width: 100% !important
        }
    span.avarvwFS-price_item--value {
        font-size: 16px !important
        }
    .avarvwFS-rating_outer-container {
        display: flex;
        justify-content: center;
        flex-direction: column
        }
    }

.avarvwFS-rating_container {
    text-align: center;
    min-height: 20px;
    width: 90%;
    font-weight: 800
    }

span.avarvwFS-price_item--value {
    margin: 0 5px;
    position: relative;
    font-size: 18px;
    color: #b4b4b4
    }

span.avarvwFS-price_item--value::after {
    content: "";
    background: red;
    width: 110%;
    height: 1px;
    position: absolute;
    left: -5%;
    top: 50%;
    transform: translate(0, -50%) rotate(337deg)
    }

.avarvwFS-price_item--value_or {
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    line-height: 1.2;
    font-family: "Poppins", sans-serif
    }

span.avarvwFS-item__OFF {
    font-weight: 800
    }

.avarvwFS-rating_container span {
    color: #00B711;
    font-weight: 800
    }