/* Textlinks Component
   Link lists and navigation boxes
*/

p.vsrvw-tl-heads {
    margin-bottom: 10px
    }

.vsrvw-tl__container {
    text-align: left;
    width: 100%;
    margin: 20px 0 20px
    }

.vsrvw-tl__container {
    border: 1px solid #336;
    padding: 30px;
    border-radius: 10px
    }

li.vsrvw-tl__bgpsaagoducts-list {
    margin-left: 15px
    }

span.vsrvw-tl__badge1 {
    font-family: "Helvetica", sans-serif;
    font-weight: 600;
    color: #2D2D61 !important;
    text-decoration: underline
    }

.vsrvw-tl__product {
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
    color: #212529 !important;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.2em;
    pointer-events: none
    }

li.vsrvw-tl__bgpsaagoducts-list::marker {
    font-weight: 500;
    font-family: "Helvetica", sans-serif;
    font-size: 17px
    }

.vsrvw-tl__product-top:hover {
    color: #517ef8 !important
    }

span.vsrvw-tl-link-label {
    color: #333;
    font-weight: 600;
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    text-transform: capitalize
    }

.vsrvw-tl-border {
    text-align: center;
    padding: 5px;
    background-color: #373940;
    margin: auto
    }

span.vsrvw-tl__header {
    color: #FFF;
    font-family: "Helvetica", sans-serif;
    font-weight: 700;
    margin-bottom: 100px;
    font-size: 22px
    }

span.vsrvw-tl__header-next {
    color: #FFF;
    font-size: 22px;
    font-family: "Helvetica", sans-serif;
    font-weight: 700
    }

li.vsrvw-tl__bgpsaagoducts-list {
    font-weight: 800;
    font-family: "Helvetica", sans-serif;
    color: #000;
    line-height: 1em;
    font-size: 16px
    }

.vsrvw-tl-top {
    margin: 10px 0 9px 0;
    line-height: 1.3em;
    text-transform: capitalize;
    font-weight: 600;
    color: #333;
    font-family: "Helvetica", sans-serif;
    font-size: 18px
    }

.vsrvw-tl-heads {
    font-family: -apple-system, "system-ui", "Segoe UI", sans-serif;
    font-weight: 400;
    font-size: 21px;
    color: #333;
    text-transform: capitalize
    }

.vsrvw-tl-heads span {
    font-weight: 600;
    text-transform: uppercase
    }

ol.vsrvw-tl__bgpsaagoducts-list {
    margin-left: 18px
    }

.vsrvw-tl-hr {
    max-width: 92px;
    margin: 8px 0;
    border-bottom: 3px solid #db1921;
    background: none !important;
    font-weight: 800;
    font-family: "Helvetica", sans-serif
    }

ul.vsrvw-tl__bgpsaagoducts-list {
    list-style-type: disc;
    padding-left: 15px !important
    }

a.vsrvw-tl_h__bgpsaagoduct {
    color: #1670C0;
    font-family: "Helvetica", sans-serif;
    font-weight: 700;
    padding-left: 16px
    }

a.vsrvw-tl__bgpsaagoduct {
    color: #000;
    font-weight: 400
    }

a.vsrvw-tl__bgpsaagoduct:hover {
    color: #61acef
    }

@media screen and (max-width: 600px) {
    li.vsrvw-tl__bgpsaagoducts-list {
        font-size: 15px
        }
    .vsrvw-tl-top {
        margin: 10px 0 10px 0
        }
    span.vsrvw-tl__header {
        padding-left: 0
        }
    span.vsrvw-tl_copyend {
        line-height: 1.1em
        }
    .vsrvw-tl__container {
        margin: 20px 0;
        padding: 15px
        }
    .vsrvw-tl-heads {
        line-height: 1.2em;
        margin-bottom: 0 !important;
        font-size: 17px
        }
    span.vsrvw-tl-link-label {
        font-size: 15px
        }
    .vsrvw-tl__product {
        font-size: 15px !important
        }
    }

.vsrvw-tl-hr_bottom {
    max-width: 100px;
    margin: 20px auto;
    border-bottom: 3px solid #000;
    background: none !important;
    font-weight: 800;
    font-family: "Helvetica", sans-serif
    }

span.vsrvw-tl_copyend {
    font-weight: 400;
    font-size: 18px;
    font-family: "Helvetica", sans-serif;
    margin-left: 5px;
    line-height: 1.2em
    }

.vsrvw-tl__product-top {
    font-family: "Helvetica", sans-serif;
    color: #2D2D61 !important;
    text-decoration: underline;
    font-weight: 600
    }