/* Page 46297 Styles
   Elementor-generated inline styles
*/

.elementor-46297 .elementor-element.elementor-element-1b16ec8 {
    --display: flex;
    --flex-direction: row;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --align-items: center;
    --gap: 0 0;
    --row-gap: 0;
    --column-gap: 0;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
    --margin-top: 0;
    --margin-bottom: 0;
    --margin-left: 0;
    --margin-right: 0;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 10px;
    --padding-right: 10px
    }

.elementor-46297 .elementor-element.elementor-element-1b16ec8:not(.elementor-motion-effects-element-type-background), .elementor-46297 .elementor-element.elementor-element-1b16ec8 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFF
    }

.elementor-46297 .elementor-element.elementor-element-b0bf0a3 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-left: 0;
    --padding-right: 0
    }

.elementor-46297 .elementor-element.elementor-element-90a5b3a {
    text-align: left
    }

.elementor-46297 .elementor-element.elementor-element-90a5b3a img {
    opacity: 1;
    transition-duration: 0.3s
    }

.elementor-46297 .elementor-element.elementor-element-90a5b3a:hover img {
    opacity: 0.7
    }

.elementor-46297 .elementor-element.elementor-element-7b0fd7a {
    --display: flex;
    --flex-direction: column;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --align-items: flex-end;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-left: 0;
    --padding-right: 0
    }

.elementor-46297 .elementor-element.elementor-element-7eaaf06 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(24px / 2)
    }

.elementor-46297 .elementor-element.elementor-element-7eaaf06 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(24px / 2)
    }

.elementor-46297 .elementor-element.elementor-element-7eaaf06 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(24px / 2);
    margin-left: calc(24px / 2)
    }

.elementor-46297 .elementor-element.elementor-element-7eaaf06 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-24px / 2);
    margin-left: calc(-24px / 2)
    }

body.rtl .elementor-46297 .elementor-element.elementor-element-7eaaf06 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-24px / 2)
    }

body:not(.rtl) .elementor-46297 .elementor-element.elementor-element-7eaaf06 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-24px / 2)
    }

.elementor-46297 .elementor-element.elementor-element-7eaaf06 .elementor-icon-list-item:not(:last-child):after {
    content: "";
    height: 50%;
    border-color: #939090
    }

.elementor-46297 .elementor-element.elementor-element-7eaaf06 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after {
    border-top-style: solid;
    border-top-width: 2px
    }

.elementor-46297 .elementor-element.elementor-element-7eaaf06 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-style: solid
    }

.elementor-46297 .elementor-element.elementor-element-7eaaf06 .elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-width: 2px
    }

.elementor-46297 .elementor-element.elementor-element-7eaaf06 .elementor-icon-list-icon i {
    transition: color 0.3s
    }

.elementor-46297 .elementor-element.elementor-element-7eaaf06 .elementor-icon-list-icon svg {
    transition: fill 0.3s
    }

.elementor-46297 .elementor-element.elementor-element-7eaaf06 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0
    }

.elementor-46297 .elementor-element.elementor-element-7eaaf06 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-46297 .elementor-element.elementor-element-7eaaf06 .elementor-icon-list-item > a {
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 19px;
    letter-spacing: 0
    }

.elementor-46297 .elementor-element.elementor-element-7eaaf06 .elementor-icon-list-text {
    color: #000;
    transition: color 0.3s
    }

@media (max-width: 1024px) {
    .elementor-46297 .elementor-element.elementor-element-1b16ec8 {
        --justify-content: space-between
        }
    .elementor-46297 .elementor-element.elementor-element-b0bf0a3 {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap
        }
    .elementor-46297 .elementor-element.elementor-element-7b0fd7a {
        --align-items: flex-end
        }
    }

@media (max-width: 767px) {
    .elementor-46297 .elementor-element.elementor-element-1b16ec8 {
        --justify-content: space-between
        }
    .elementor-46297 .elementor-element.elementor-element-b0bf0a3 {
        --width: 40px
        }
    .elementor-46297 .elementor-element.elementor-element-7b0fd7a {
        --width: 80%;
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap
        }
    .elementor-46297 .elementor-element.elementor-element-7eaaf06 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
        padding-bottom: calc(10px / 2)
        }
    .elementor-46297 .elementor-element.elementor-element-7eaaf06 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
        margin-top: calc(10px / 2)
        }
    .elementor-46297 .elementor-element.elementor-element-7eaaf06 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        margin-right: calc(10px / 2);
        margin-left: calc(10px / 2)
        }
    .elementor-46297 .elementor-element.elementor-element-7eaaf06 .elementor-icon-list-items.elementor-inline-items {
        margin-right: calc(-10px / 2);
        margin-left: calc(-10px / 2)
        }
    body.rtl .elementor-46297 .elementor-element.elementor-element-7eaaf06 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        left: calc(-10px / 2)
        }
    body:not(.rtl) .elementor-46297 .elementor-element.elementor-element-7eaaf06 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
        right: calc(-10px / 2)
        }
    .elementor-46297 .elementor-element.elementor-element-7eaaf06 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-46297 .elementor-element.elementor-element-7eaaf06 .elementor-icon-list-item > a {
        font-size: 13px
        }
    }

@media (min-width: 768px) {
    .elementor-46297 .elementor-element.elementor-element-b0bf0a3 {
        --width: 56px
        }
    }

@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-46297 .elementor-element.elementor-element-b0bf0a3 {
        --width: 56px
        }
    .elementor-46297 .elementor-element.elementor-element-7b0fd7a {
        --width: 100%
        }
    }