/* Popup Modal Styles (Page 7424)
   Elementor popup dialog styling
*/

.elementor-7424 .elementor-element.elementor-element-708bf35 > .elementor-element-populated {
    padding: 40px 40px 40px 40px
    }

.elementor-7424 .elementor-element.elementor-element-49fe0d0.ob-harakiri {
    writing-mode: inherit
    }

.elementor-7424 .elementor-element.elementor-element-49fe0d0.ob-harakiri .elementor-heading-title {
    writing-mode: inherit;
    transform: rotate(0deg)
    }

.elementor-7424 .elementor-element.elementor-element-49fe0d0.ob-harakiri .elementor-widget-container > div {
    writing-mode: inherit;
    transform: rotate(0deg)
    }

.elementor-7424 .elementor-element.elementor-element-49fe0d0 {
    width: 100%;
    max-width: 100%;
    text-align: left
    }

.elementor-7424 .elementor-element.elementor-element-49fe0d0 > .elementor-widget-container {
    margin: 0 0 -10px 0
    }

.elementor-7424 .elementor-element.elementor-element-49fe0d0 .elementor-heading-title {
    font-family: "Play", Sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
    color: #161616
    }

.elementor-7424 .elementor-element.elementor-element-49fe0d0 .elementor-widget-container {
    text-indent: 0;
    mix-blend-mode: inherit
    }

.elementor-7424 .elementor-element.elementor-element-058b7f3.ob-harakiri {
    writing-mode: inherit
    }

.elementor-7424 .elementor-element.elementor-element-058b7f3.ob-harakiri .elementor-heading-title {
    writing-mode: inherit;
    transform: rotate(0deg)
    }

.elementor-7424 .elementor-element.elementor-element-058b7f3.ob-harakiri .elementor-widget-container > div {
    writing-mode: inherit;
    transform: rotate(0deg)
    }

.elementor-7424 .elementor-element.elementor-element-058b7f3 {
    width: var(--container-widget-width, 822px);
    max-width: 822px;
    --container-widget-width: 822px;
    --container-widget-flex-grow: 0;
    font-family: "Arial", Sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 29px
    }

.elementor-7424 .elementor-element.elementor-element-058b7f3 > .elementor-widget-container {
    margin: 0 0 -30px 0;
    padding: 0 0 0 0
    }

.elementor-7424 .elementor-element.elementor-element-058b7f3 .elementor-widget-container {
    text-indent: 0;
    mix-blend-mode: inherit
    }

#elementor-popup-modal-7424 .dialog-widget-content {
    background-color: #FFF;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-radius: 20px 20px 20px 20px
    }

#elementor-popup-modal-7424 {
    justify-content: center;
    align-items: center;
    pointer-events: all
    }

#elementor-popup-modal-7424 .dialog-message {
    width: 1038px;
    height: auto
    }

#elementor-popup-modal-7424 .dialog-close-button {
    display: flex
    }

@media (max-width: 767px) {
    .elementor-7424 .elementor-element.elementor-element-708bf35 > .elementor-element-populated {
        padding: 20px 20px 20px 20px
        }
    .elementor-7424 .elementor-element.elementor-element-49fe0d0 .elementor-heading-title {
        font-size: 38px
        }
    .elementor-7424 .elementor-element.elementor-element-058b7f3 > .elementor-widget-container {
        margin: 0 0 0 0;
        padding: 0 10px 0 0
        }
    }