h1.entry-title {
    display: var(--page-title-display);
}

.site-header .site-branding {
    flex-direction: column;
    align-items: stretch;
}

.site-header {
    padding-inline-end: 0;
    padding-inline-start: 0;
}

:root {
    --page-title-display: none;
}

header span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
