/* Elementor Global Kit Settings
   Theme colors, typography, layout defaults, and utilities
*/

.elementor-kit-150 {
    --e-global-color-primary: #6EC1E4;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    --e-global-color-d50fa4f: #161616;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500
    }

.elementor-kit-150 e-page-transition {
    background-color: #FFBC7D
    }

body {
    overflow-x: inherit !important
    }

.elementor a, .elementor a:link, .elementor a:focus, .elementor a:active, .elementor a:hover {
    text-decoration: inherit !important
    }

.elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1140px
    }

.e-con {
    --container-max-width: 1140px
    }

.elementor-widget:not(:last-child) {
    margin-block-end: 20px
    }

.elementor-element {
    --widgets-spacing: 20px 20px;
    --widgets-spacing-row: 20px;
    --widgets-spacing-column: 20px
    }

@media (max-width: 1024px) {
    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 1024px
        }
    .e-con {
        --container-max-width: 1024px
        }
    }

@media (max-width: 767px) {
    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 767px
        }
    .e-con {
        --container-max-width: 767px
        }
    }

html, body {
    overflow-x: auto
    }

.e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload), .e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload) * {
    background-image: none !important
    }

@media screen and (max-height: 1024px) {
    .e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload), .e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload) * {
        background-image: none !important
        }
    }

@media screen and (max-height: 640px) {
    .e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload), .e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload) * {
        background-image: none !important
        }
    }