/* Web Font Definitions
   Roboto, Roboto Slab, Play, Kanit fonts loaded from Google Fonts
*/

@font-face {
    font-family: "Kanit";
    font-style: italic;
    font-weight: 100;
    src: url(https://avasreview.com/fonts.gstatic.com/s/kanit/v17/nKKV-Go6G5tXcraQI2GwcoRB.ttf) format("truetype")
    }

@font-face {
    font-family: "Kanit";
    font-style: italic;
    font-weight: 200;
    src: url(https://avasreview.com/fonts.gstatic.com/s/kanit/v17/nKKS-Go6G5tXcraQI82hZaNhNA.ttf) format("truetype")
    }

@font-face {
    font-family: "Kanit";
    font-style: italic;
    font-weight: 300;
    src: url(https://avasreview.com/fonts.gstatic.com/s/kanit/v17/nKKS-Go6G5tXcraQI6miZaNhNA.ttf) format("truetype")
    }

@font-face {
    font-family: "Kanit";
    font-style: italic;
    font-weight: 400;
    src: url(https://avasreview.com/fonts.gstatic.com/s/kanit/v17/nKKX-Go6G5tXcraQKwKAdQ.ttf) format("truetype")
    }

@font-face {
    font-family: "Kanit";
    font-style: italic;
    font-weight: 500;
    src: url(https://avasreview.com/fonts.gstatic.com/s/kanit/v17/nKKS-Go6G5tXcraQI_GjZaNhNA.ttf) format("truetype")
    }

@font-face {
    font-family: "Kanit";
    font-style: italic;
    font-weight: 600;
    src: url(https://avasreview.com/fonts.gstatic.com/s/kanit/v17/nKKS-Go6G5tXcraQI92kZaNhNA.ttf) format("truetype")
    }

@font-face {
    font-family: "Kanit";
    font-style: italic;
    font-weight: 700;
    src: url(https://avasreview.com/fonts.gstatic.com/s/kanit/v17/nKKS-Go6G5tXcraQI7mlZaNhNA.ttf) format("truetype")
    }

@font-face {
    font-family: "Kanit";
    font-style: italic;
    font-weight: 800;
    src: url(https://avasreview.com/fonts.gstatic.com/s/kanit/v17/nKKS-Go6G5tXcraQI6WmZaNhNA.ttf) format("truetype")
    }

@font-face {
    font-family: "Kanit";
    font-style: italic;
    font-weight: 900;
    src: url(https://avasreview.com/fonts.gstatic.com/s/kanit/v17/nKKS-Go6G5tXcraQI4GnZaNhNA.ttf) format("truetype")
    }

@font-face {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 100;
    src: url(https://avasreview.com/fonts.gstatic.com/s/kanit/v17/nKKX-Go6G5tXcr72KwKAdQ.ttf) format("truetype")
    }

@font-face {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 200;
    src: url(https://avasreview.com/fonts.gstatic.com/s/kanit/v17/nKKU-Go6G5tXcr5aOhWnVaQ.ttf) format("truetype")
    }

@font-face {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 300;
    src: url(https://avasreview.com/fonts.gstatic.com/s/kanit/v17/nKKU-Go6G5tXcr4-ORWnVaQ.ttf) format("truetype")
    }

@font-face {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 400;
    src: url(https://avasreview.com/fonts.gstatic.com/s/kanit/v17/nKKZ-Go6G5tXcraVGwU.ttf) format("truetype")
    }

@font-face {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 500;
    src: url(https://avasreview.com/fonts.gstatic.com/s/kanit/v17/nKKU-Go6G5tXcr5mOBWnVaQ.ttf) format("truetype")
    }

@font-face {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 600;
    src: url(https://avasreview.com/fonts.gstatic.com/s/kanit/v17/nKKU-Go6G5tXcr5KPxWnVaQ.ttf) format("truetype")
    }

@font-face {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 700;
    src: url(https://avasreview.com/fonts.gstatic.com/s/kanit/v17/nKKU-Go6G5tXcr4uPhWnVaQ.ttf) format("truetype")
    }

@font-face {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 800;
    src: url(https://avasreview.com/fonts.gstatic.com/s/kanit/v17/nKKU-Go6G5tXcr4yPRWnVaQ.ttf) format("truetype")
    }

@font-face {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 900;
    src: url(https://avasreview.com/fonts.gstatic.com/s/kanit/v17/nKKU-Go6G5tXcr4WPBWnVaQ.ttf) format("truetype")
    }

@font-face {
    font-family: "Play";
    font-style: normal;
    font-weight: 400;
    src: url(https://avasreview.com/fonts.gstatic.com/s/play/v21/6aez4K2oVqwIvtU2Gg.ttf) format("truetype")
    }

@font-face {
    font-family: "Play";
    font-style: normal;
    font-weight: 700;
    src: url(https://avasreview.com/fonts.gstatic.com/s/play/v21/6ae84K2oVqwItm4TCpAy3w.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 100;
    font-stretch: normal;
    src: url(https://avasreview.com/fonts.gstatic.com/s/roboto/v50/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLoHRuAj-lg.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 200;
    font-stretch: normal;
    src: url(https://avasreview.com/fonts.gstatic.com/s/roboto/v50/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLgHQuAj-lg.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    font-stretch: normal;
    src: url(https://avasreview.com/fonts.gstatic.com/s/roboto/v50/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLt_QuAj-lg.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
    src: url(https://avasreview.com/fonts.gstatic.com/s/roboto/v50/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLoHQuAj-lg.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    font-stretch: normal;
    src: url(https://avasreview.com/fonts.gstatic.com/s/roboto/v50/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLrPQuAj-lg.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 600;
    font-stretch: normal;
    src: url(https://avasreview.com/fonts.gstatic.com/s/roboto/v50/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLl_XuAj-lg.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 700;
    font-stretch: normal;
    src: url(https://avasreview.com/fonts.gstatic.com/s/roboto/v50/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLmbXuAj-lg.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 800;
    font-stretch: normal;
    src: url(https://avasreview.com/fonts.gstatic.com/s/roboto/v50/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLgHXuAj-lg.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 900;
    font-stretch: normal;
    src: url(https://avasreview.com/fonts.gstatic.com/s/roboto/v50/KFOKCnqEu92Fr1Mu53ZEC9_Vu3r1gIhOszmOClHrs6ljXfMMLijXuAj-lg.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    font-stretch: normal;
    src: url(https://avasreview.com/fonts.gstatic.com/s/roboto/v50/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbFmUiA8.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 200;
    font-stretch: normal;
    src: url(https://avasreview.com/fonts.gstatic.com/s/roboto/v50/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuZEbVmUiA8.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    src: url(https://avasreview.com/fonts.gstatic.com/s/roboto/v50/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuaabVmUiA8.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    src: url(https://avasreview.com/fonts.gstatic.com/s/roboto/v50/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmUiA8.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
    src: url(https://avasreview.com/fonts.gstatic.com/s/roboto/v50/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWub2bVmUiA8.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
    src: url(https://avasreview.com/fonts.gstatic.com/s/roboto/v50/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuYaalmUiA8.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
    src: url(https://avasreview.com/fonts.gstatic.com/s/roboto/v50/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuYjalmUiA8.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    font-stretch: normal;
    src: url(https://avasreview.com/fonts.gstatic.com/s/roboto/v50/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuZEalmUiA8.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-stretch: normal;
    src: url(https://avasreview.com/fonts.gstatic.com/s/roboto/v50/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuZtalmUiA8.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 100;
    src: url(https://avasreview.com/fonts.gstatic.com/s/robotoslab/v36/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojIWmb2Rm.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 200;
    src: url(https://avasreview.com/fonts.gstatic.com/s/robotoslab/v36/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoDISmb2Rm.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 300;
    src: url(https://avasreview.com/fonts.gstatic.com/s/robotoslab/v36/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjo0oSmb2Rm.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: url(https://avasreview.com/fonts.gstatic.com/s/robotoslab/v36/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmb2Rm.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 500;
    src: url(https://avasreview.com/fonts.gstatic.com/s/robotoslab/v36/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjovoSmb2Rm.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 600;
    src: url(https://avasreview.com/fonts.gstatic.com/s/robotoslab/v36/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoUoOmb2Rm.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    src: url(https://avasreview.com/fonts.gstatic.com/s/robotoslab/v36/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoa4Omb2Rm.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 800;
    src: url(https://avasreview.com/fonts.gstatic.com/s/robotoslab/v36/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoDIOmb2Rm.ttf) format("truetype")
    }

@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 900;
    src: url(https://avasreview.com/fonts.gstatic.com/s/robotoslab/v36/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoJYOmb2Rm.ttf) format("truetype")
    }