/* Header Component Styles */
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    position: relative;
}

.header-container {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --widgets-spacing: 20px 20px;
    --background-transition: 0.3s;
    --border-transition: 0.3s;
    --border-radius: 0px 0px 0px 0px;
    --e-con-padding-block-start: var(--padding-top);
    --e-con-padding-block-end: var(--padding-bottom);
    --e-con-padding-inline-start: var(--padding-left);
    --e-con-padding-inline-end: var(--padding-right);
    --content-width: 1140px;
    --container-max-width: 1140px;
    display: flex;
    margin-block-start: var(--margin-top);
    margin-block-end: var(--margin-bottom);
    margin-inline-start: var(--margin-left);
    margin-inline-end: var(--margin-right);
    position: relative;
    flex: 1 1 0%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    padding: var(--container-default-padding-block-start, 10px) var(--container-default-padding-inline-end, 10px) var(--container-default-padding-block-end, 10px) var(--container-default-padding-inline-start, 10px);
    min-height: var(--min-height, initial);
}

.header-container-boxed {
    --width: 1140px;
    --content-width: 1140px;
    --container-max-width: 1140px;
    max-width: min(var(--container-max-width, 1140px), 100%);
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.header-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-logo-container {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    --content-width: min(100%, 1140px);
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    justify-content: flex-start;
    padding: var(--container-default-padding-block-start, 10px) var(--container-default-padding-inline-end, 10px) var(--container-default-padding-block-end, 10px) var(--container-default-padding-inline-start, 10px);
}

.header-logo-link {
    display: block;
}

.header-logo {
    width: auto;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

.header-nav-container {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    --content-width: min(100%, 1140px);
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
}

.header-nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-nav-item {
    position: relative;
    display: flex;
}

.header-nav-text {
    display: block;
    padding: 8px 15px;
    font-family: "Roboto", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #FFFFFF;
    cursor: pointer;
}

.header-nav-link {
    display: block;
    padding: 8px 15px;
    font-family: "Roboto", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
}

.header-nav-link:hover {
    color: #1CD1AF;
}

@media (max-width: 767px) {
    .header-container {
        flex-direction: column;
    }
    
    .header-nav-list {
        flex-direction: row;
        justify-content: center;
    }
}
